<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="UTF-8">
<title>FACTURACIÓN</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<!-- BARRA DE NAVEGACION -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="#">
				<strong>FACTURACIÓN</strong>
				</a>
				
				<!-- ENLACES DEL MENU -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/index}">Inicio
								
							</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" th:href="@{/views/facturas/}">Lista Facturas
								
							</a>
						</li>

					</ul>
									
				</div>
			</div>
		</nav>
	</header>
	<!-- CONTENIDO -->
	<div class="container"></div>
	
	<!-- PIE DE PAGINA -->
	
	<script type="text/javascript" th:src="@{/js/popper.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js"></script>
</body>
</html>